/* Body */
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        red,
        yellow
    );
}

.page{
    text-align: center;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 25px;
}


/* Instagram */
.insta{
    font-size: 35px;
    font-family: 'Pacifico', cursive;
}


/* Sign up line */
.txt1{
    color: gray;
    padding: 0px 30px;
    font-size: 18px;
    font-family: 'Baloo Bhai 2', cursive;
}


/* Form */

/* Facebook link */
.fblink{
    margin-top: 15px;
    background-color: blue;
    padding: 5px 0px;
    border-radius: 5px;
}
.fblink span{
    font-size: 18px;
    margin-right: 5px;
    color: white;
}
.fblink a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* OR */
form .option{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
}
form .option:before{
    content: "";
    width: 40%;
    height: 2px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 0px;
    border-radius: 10px;
}
form .option:after{
    content: "";
    width: 40%;
    height: 2px;
    background-color: gray;
    position: absolute;
    top: 50%;
    right: 0px;
    border-radius: 10px;
}


/* Inputs */
form{
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

form input{
    font-size: 15px;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: 'Baloo Bhai 2', cursive;
}
form input:hover{
    font-size: 17px;
    border: 1px solid black;
    background-color: ghostwhite;
    box-shadow: 3px 3px 10px gray;
    outline: none;
    transition: 0.4s ease;
}
input:hover::placeholder{
    font-size: 12px;
    transform: translateY(-10px);
}

form button{
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 5px 0px;
    margin-top: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;
}


/* Policy line */
.txt2{
    color: gray;
    margin-top: 20px;
    padding: 0px 30px;
    font-size: 17px;
    font-family: 'Baloo Bhai 2', cursive;
}
